* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Latos", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:  1.7;
    color: #111;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.6),
        #28b485),
    url(profilePic.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
}

div.port-btn {
    position: fixed;
    top: 100px;
}

.port-btn,
.port-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* padding: 5px 40px; */
    border-radius: 100px;
    transition: all .2s;
    
}

.port-btn {
    background-color: #fff;
    color: #777;
}

.port-btn:hover {
    transform: translateY(-3px);
}

.port-btn:active {
    transform: translateY(-1);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 100px;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation-name: moveInLeft;
    animation-duration: 1s;
    backface-visibility: hidden;
}
 @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
} 

.heading-primary-main {
    display: block;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 200px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, 30%);
    animation-name: moveInRight;
}

button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 25%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: transparent;
    padding: 5px; 
    /* padding-bottom: 5%; */
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
    position: relative;
    top: 325px;
    left: 225px;

  }
  nav {
      position: relative;
      top: 25px;
      left: 925px;
      
  }